.macSelect {
  padding: 5px 15px;
  font-size: 14px;
  border: 1px solid cornflowerblue;
  background-color: transparent;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.macSelect:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
