@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}
:root {
  --clr: #3d3d3d;
}
.icon {
  font-size: 10em;
}
.navigation {
  margin: 35px auto 0 auto;
  width: 400px;
  height: 74px;
  background-color: var(--clr);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-right: 40px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style-type: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li span {
  position: relative;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li span .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.75em;
  text-align: center;
  transition: 0.5s;
  padding-left: 4px;
}
.navigation ul li.activeNavbarLi span .icon {
  transform: translateY(-36px);
}
.navigation ul li span .navbarText {
  position: absolute;
  color: whitesmoke;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 0;
}
.navigation ul li.activeNavbarLi span .navbarText {
  transform: translateY(10px);
  opacity: 1;
  text-align: center;
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: coral;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  border-top-right-radius: 20px;
  width: 23px;
  height: 22px;
  background: transparent;

  box-shadow: 0 -10px 0 0 whitesmoke;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  border-top-left-radius: 20px;
  width: 23px;
  height: 22px;
  background: transparent;
  box-shadow: 0 -10px 0 0 whitesmoke;
}
.navigation ul li:nth-child(1).activeNavbarLi ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).activeNavbarLi ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).activeNavbarLi ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).activeNavbarLi ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).activeNavbarLi ~ .indicator {
  transform: translateX(calc(70px * 4));
}
.lastLine img {
  width: 120px;
  height: 120px;
}
.signet {
  padding-right: 100px;
}
.app {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Arial", sans-serif !important;
}
#currentPatientLi {
  width: 25rem;
}
hr {
  color: dimgray;
  width: 100%;
}

#patientList {
  width: 1050px !important;
  margin-top: 15px;
  border: 1px solid gray;
  box-shadow: 0 0 5px 1px;
}
.fragment {
  margin: 100px 40px !important;
}
.centered {
  text-align: center;
  margin: 6px auto;
}
.superShortInputs {
  width: 45px !important;
}
.extraShortInputs {
  width: 60px !important;
}
.shortInputs {
  width: 80px !important;
}
.middleInputs {
  width: 150px !important;
}
.longInputs {
  width: 240px !important;
}
.extraLongInputs {
  width: 400px !important;
}

.label {
  margin: 0px 2px !important;
  padding: 12px 2px 1px 0px !important;
  font-size: 16px !important;
}

#review {
  height: 2600px !important;
  font-size: 18px !important;
  margin: 20px 0px 50px 0px !important;
  line-height: 1.2;
  page-break-before: always !important;
}

#epicrisis {
  height: 1250px !important;
  font-size: 18px !important;
  margin: 0px 0px 0px 0px !important;
  line-height: 1.2;
  page-break-before: always !important;
}

#extract {
  height: 1250px !important;
  font-size: 18px !important;
  margin: 60px 0px 20px 0px !important;
  line-height: 1.2;
}
.diaryBlock {
  font-size: 18px !important;
  margin: 60px 0px 50px 0px !important;
  line-height: 1.2;
}
.patientCard {
  height: 1100px;
  width: 1100px;
}

#secondPage {
  height: 1280px !important;
  page-break-before: always;
  margin-top: 10px !important;
}

#diagnosis,
#postDiagnosis {
  margin: 20px auto;
}

#protocol {
  margin-top: 20px;
}

.text {
  font-weight: normal;
  color: black;
  opacity: 1;
}

hr {
  size: 2px;
  width: 100%;
}

table {
  border-collapse: collapse;
  text-align: center;
}
.td {
  padding: 2px;
  height: 20px;
}
.tdNarrow {
  padding: 5px;
}
table,
th,
td {
  border: 2px solid #4a4a4a;
}
.paramsFormLine div {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
.tooth {
  border-radius: 25%;
  opacity: 90%;
  font-weight: bolder;
}

.flexi {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}
.nomargin {
  margin: 0 auto;
  padding: 0;
}
.flexEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  margin: 10px 20px;
}

.flexBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px 20px;
}

.flexStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  margin: 5px;
}
.flexDiary {
  margin-top: 20px;
  margin-bottom: 10px;
}
.flexDiaryMiddle {
  margin-top: 8px;
  margin-bottom: 8px;
}
.headers {
  margin-top: 10px;
  margin-bottom: 10px;
}
#passport {
  margin-left: 20px;
}
.sendLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addPatient {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.patientLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0px;
}
.pageButton {
  height: 32px !important;
  width: 32px !important;
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
  color: white;
  border: 1px solid silver;
  background-color: cornflowerblue;
}
#activePage {
  background-color: coral;
}
.pageButton:hover {
  color: cornflowerblue;
  background-color: white;
}
#notification {
  color: coral;
}
.patientLine:hover {
  --translate-y: -4px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  border-color: 2px solid rgba(0, 0, 0, 0.8);
}

.protocolContent {
  text-indent: 20px;
}

.block {
  margin: 0px 20px;
}

.lastLine {
  margin-right: 50px;
}

.blockList {
  line-height: 1.2 !important;
  font-size: 18px;
}

#patientNameinList {
  width: 400px !important;
}

#cardNumberinList {
  width: 70px !important;
}

#operationBtn,
#viewBtn,
.editBtn,
#editBtn {
  width: 40px !important;
  background-color: white;
}
/* editDiaryForm */
.editDiaryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morbiSelect {
  background-color: gainsboro;
}

#submitChanges {
  background-color: powderblue !important;
  color: black;
  font-weight: bold;
  width: 300px !important;
}

#editFormula {
  background-color: powderblue !important;
  color: black;
  font-weight: bold;
}

#sortBtnLines button {
  background-color: lightGrey;
  color: black;
}

#sortInfo {
  padding: 10px 0px 0px 0px;
}

.opFirstLine {
  margin-left: 600px !important;
}

#registerBlock {
  display: flex;
  flex-direction: row !important;
}

.registerPartOfBlock,
#lastOpLine {
  border: 2px solid dimgray;
  box-sizing: border-box;
}

#operationMainBlock {
  display: flex;
  flex-direction: column;
}

input:focus {
  background-color: gainsboro;
  color: black;
  font-weight: bold;
}
#removeBtn:hover {
  background-color: olive;
}
#sortBtnLines button:hover {
  --translate-y: -2px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

#removeBtn {
  width: 18px !important;
  height: 18px !important;
  padding: 0px;
  background-color: white;
  border-radius: 50%;
}

.radioButtons {
  padding-right: 5px;
  margin: 10px 0px 0px 0px;
}

#radioButtonsInput {
  height: 15px !important;
  padding: 0px;
  margin: 0px;
}

.diary .block {
  text-indent: 20px;
}

.form .paramsForm {
  border: 1px solid #3d3d3d;
  padding-left: 9px;
  width: 800px;
}
.paramsFormLine {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  margin: 0.75rem;
}

.emptyField {
  height: 400px !important;
}
.opDesc {
  margin-top: 5px;
  margin-bottom: 5px;
}
.healing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.drugElement {
  list-style-type: none;
  padding-right: 25px;
  margin: 0;
}
.drugElementList {
  border: 2px solid dimgray;
}
.drugDaysForm {
  display: flex;
  flex-direction: row;
}
#drugElementList1 {
  width: 80%;
}
.healingHr {
  margin-top: 50px;
}
.healingHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.propertyCard {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding-top: 0;
  box-shadow: 0 0 4px 1px;
  background-color: white;
  margin-top: 5rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}
.detailsFree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}
.detailsBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.25rem 0.5rem;
}
.ava {
  text-align: center;
}
.hr {
  color: gray;
  size: 1px;
  width: 90%;
}
#currentInHeader {
  margin-left: 1rem;
  font-size: 20px;
  color: coral;
}

#radioLine {
  margin: 0px 2px !important;
  padding: 15px 2px 1px 0px !important;
  font-size: 16px !important;
}
input[type="number"] {
  height: 36px;
  width: 70px;
}
input,
select,
button,
.additionAppointments {
  margin: auto 0.5rem;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  width: 10rem;
  border-radius: 0.4rem;
  transition-duration: 0.4s;
  size: 1.2rem;
  height: 36px;
  margin: 0.25rem;
}
select {
  height: 36px;
}
.send,
button {
  cursor: pointer;
}
select:hover {
  background-color: silver;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.send:hover,
button:hover,
.additionAppointments:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.additionAppointments {
  text-align: center;
  width: 50px;
  height: 30px;
  padding-top: 2px;
}
.smallInputs,
#numberInput1,
#numberInput2,
#numberInput3,
#numberInput4,
#numberInput5,
#numberInput6 {
  height: 30px;
}
.skinWound select {
  width: 120px !important;
}
.skinWound input {
  width: 70px !important;
}
.skinWound select {
  width: 110px !important;
}
input[type="radio"] {
  height: 15px;
  width: 40px;
}
.smallLine input {
  height: 30px;
}
.shortSelect {
  width: 60px !important;
}
.mediumSelect {
  width: 110px !important;
}
input[type="checkbox"] {
  height: 15px;
  width: 40px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid black;
}
.headerPart1 {
  border-right: 1px solid black;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.headerPart {
  width: 50%;
  text-align: center;
  align-items: center;
}
.super {
  display: flex;
  flex-direction: row;
  width: 900px !important;
  margin: 0 auto;
}
.nameAdress {
  border-bottom: 1px solid black;
}
.modal {
  height: 100vh;
  width: 200vh;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modal_content.active {
  transform: scale(1);
}
/* import-export */
.importBlock {
  margin: 0 auto;
  text-align: center;
}
.importBlockBtn {
  background-color: darkslateblue;
  color: white
}
#exportBtn {
  background-color: darkolivegreen;
  color: white
}

#addBtn,
#prePatientBtn {
  width: 200px !important;
  height: 50px !important;
  font-size: 22px;
  color: coral;
  margin-top: 30px;
  -webkit-animation: bounce 1s infinite;
  animation-iteration-count: 1;
}
#prePatientBtn {
  background-color: mediumpurple;
  color: white;
}
#hideDirectionsBtn {
  background-color: coral;
  color: white;
}
#addBtn:hover {
  color: white;
}
.mandatoryField {
  border: 2px solid chocolate;
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
#addBtn,
#showStatsBtn,
#showParamsFormBtn {
  margin-top: 20px;
  width: 200px !important;
  height: 50px !important;
  font-size: 22px;
}
.statsForm h5,
.upcomingEvents h5 {
  text-align: center;
  margin-bottom: 20px;
}
.feastReminder {
  margin-top: 20px;
  font-family: "fredericka the great", cursive;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(100, 58, 122, 0.8);
}
.possibleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.possibleForm div {
  display: flex;
  justify-content: center;
}
.statsInputs {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
#showParamsFormBtn {
  background-color: coral;
  color: white;
}
#showStatsBtn {
  background-color: lightyellow;
  color: black;
}
.flexTable {
  display: flex;
}
.sectionFlexTable {
  border: 1px solid black;
}
.sectionFlexTable p {
  height: 20px;
  padding: 0px 10px;
  border-bottom: 1px solid black;
  text-align: center;
  margin: 4px;
}
.analyseLine {
  border-bottom: 2px solid silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 480px;
  padding-left: 10px;
  padding-right: 10px;
}
.analyseLine div {
  font-size: 22px !important;
}
.analyseItem {
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}
#directionsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 500px);
}
.usefulLinks {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  border: 1px solid dimgray;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  background-color: ivory;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.linkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 15px;
  border: 0.5px solid lavender;
  background-color: white;
}
.linkItem:hover {
  box-shadow: 0 0 5px 1px;
}
.linkItem div a {
  text-decoration: none;
}
.linkItem div {
  padding: 4px;
}
.digitalClock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  border: 0.5px solid dimgray;
  text-align: center;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  font-size: 20px;
}
ion-icon {
  pointer-events: none;
}
#sb__open-sandbox1,
#sb__open-sandbox2,
#sb__open-sandbox3,
#sb__open-sandbox4,
#sb__open-sandbox5,
#sb__open-sandbox6,
#sb__open-sandbox7,
#sb__open-sandbox8,
#sb__open-sandbox9,
#sb__open-sandbox10,
#sb__open-sandbox11,
#sb__open-sandbox12,
#sb__open-sandbox13,
#sb__open-sandbox14,
#sb__open-sandbox15,
#sb__open-sandbox16,
#sb__open-sandbox17,
#sb__open-sandbox18,
#sb__open-sandbox19,
#sb__open-sandbox20,
#sb__open-sandbox21,
#sb__open-sandbox22,
#sb__open-sandbox23,
#sb__open-sandbox24,
#sb__open-sandbox25,
#sb__open-sandbox26,
#sb__open-sandbox27,
#sb__open-sandbox28,
#sb__open-sandbox29,
#sb__open-sandbox30,
#sb__open-sandbox31,
#sb__open-sandbox32,
#sb__open-sandbox33,
#sb__open-sandbox34,
#sb__open-sandbox35,
#sb__open-sandbox36,
#sb__open-sandbox37,
#sb__open-sandbox38,
#sb__open-sandbox39,
#sb__open-sandbox40,
#sb__open-sandbox41,
#sb__open-sandbox42,
#sb__open-sandbox43,
#sb__open-sandbox44,
#sb__open-sandbox45,
#sb__open-sandbox46,
#sb__open-sandbox47,
#sb__open-sandbox48,
#sb__open-sandbox49,
#sb__open-sandbox50,
#sb__open-sandbox51,
#sb__open-sandbox52,
#sb__open-sandbox53,
#sb__open-sandbox54,
#sb__open-sandbox55,
#sb__open-sandbox56,
#sb__open-sandbox57,
#sb__open-sandbox58,
#sb__open-sandbox59,
#sb__open-sandbox60,
#sb__open-sandbox61,
#sb__open-sandbox62,
#sb__open-sandbox63,
#sb__open-sandbox64,
#sb__open-sandbox65,
#sb__open-sandbox66,
#sb__open-sandbox67,
#sb__open-sandbox68,
#sb__open-sandbox69,
#sb__open-sandbox70,
#sb__open-sandbox71,
#sb__open-sandbox72,
#sb__open-sandbox73,
#sb__open-sandbox74,
#sb__open-sandbox75,
#sb__open-sandbox76,
#sb__open-sandbox77,
#sb__open-sandbox78,
#sb__open-sandbox79,
#sb__open-sandbox80,
#sb__open-sandbox81,
#sb__open-sandbox82,
#sb__open-sandbox83,
#sb__open-sandbox84,
#sb__open-sandbox85,
#sb__open-sandbox86,
#sb__open-sandbox87,
#sb__open-sandbox88,
#sb__open-sandbox89,
#sb__open-sandbox90,
#sb__open-sandbox91,
#sb__open-sandbox92,
#sb__open-sandbox93,
#sb__open-sandbox94,
#sb__open-sandbox95,
#sb__open-sandbox96,
#sb__open-sandbox97,
#sb__open-sandbox98,
#sb__open-sandbox99 {
  display: none !important;
}
